/* Main.js */

.mainImg {
  width: 100%;
  height: 100%;
  background: url("../images/main_bg.png") no-repeat center / cover;
}
.mainTxtLogo {
  width: 184px;
  height: 30px;
  background: url("../images/main_text01_v3.png") no-repeat center / cover;
}

/*MainBanner*/
.mainSwiper {
  width: 620px;
  height: 460px;
  position: absolute;
  left: 54.375%;
  top: 130px;
}

.mainSwiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbanner01 {
  background: url("../images/main_slide_01.png") no-repeat center / cover;
}
.mainbanner02 {
  background: url("../images/main_slide_02.jpg") no-repeat center / cover;
}
.mainbanner03 {
  background: url("../images/main_slide_03.jpg") no-repeat center / cover;
}
.mainbanner04 {
  background: url("../images/main_slide_06.jpg") no-repeat center / cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#position {
  position: absolute;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5) !important;
}

/*Service*/

.isActive {
  border-bottom: 2px solid #121212;
  font-weight: 700;
}

/*Event*/

.eventSwiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventBanner01 {
  background: url("../images/event01.png") no-repeat top / cover;
}
.eventBanner02 {
  background: url("../images/event02.png") no-repeat top / cover;
}
.eventBanner03 {
  background: url("../images/event03.jpg") no-repeat top / cover;
}
.eventBanner04 {
  background: url("../images/event04.jpg") no-repeat top / cover;
}
